body {
  font-family: 'Lato', sans-serif;
  color: #2d3c49;
  font-weight: 300;
}

img {
  height: auto;
}

header {
  color: #2d3c49;
}

h4 {
  font-weight: 700;
}

.image-row-header {
  color: #7d97ad;
}

.text-thin {
  font-weight: 100;
}

.title-name {
  font-size: 60px;
}

.title-logo {
  margin-top: 10px;
  height: 15vh;
}

.image-row-image {
  height: 25vh;
}

.page-break {
  color: #7d97ad;
  border: 2px solid;
}
